body {
  width: 100%;
  font-family: cursive;
  height: 100%;
  margin: 0;
}
.appBar.light {
  border-bottom: 1px dashed #0098ee;
}
.MuiTypography-root.MuiTypography-h6.MuiTypography-colorInherit {
  margin: auto;
}
.appBar.dark {
  color: white;
  background-color: #1f1f1f;
  border-bottom: 1px dashed #7E6E4A;
}
.drawer.dark {
  background-color: #1f1f1f;
  color: white;
}
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  min-width: 50%;
  background-color: #424242;
  color: white;
}
.MuiButtonBase-root.MuiBottomNavigationAction-root {
  color: #8a8a8a;
}
.bottomNavClass {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: bisque;
}
.bottomNavClass.dark {
  background-color: #1a1a1a;
  color: white;
}
.pageClass {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: calc(100% - 56px - 49px);
}
.pageClass.light {
  background-color: white;
  color: black;
}
.pageClass.dark {
  background-color: #262626;
  color: white;
}
